.mainDiv {
    margin-top: 5rem;
    margin-left: 50rem;
    
}
.DetailH1 {
    color: white;
}
.DetailH2 {
    color: white;
  }

  .btn{
    cursor: pointer;
    margin-top: 0.5rem;
    width:6rem;
    background: rgba(0, 0, 0, 0.8);
       border-radius: 10px;
       box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
         0 1px 1px rgba(128, 128, 128, 0.155),
         0 2.1px 2.1px rgba(128, 128, 128, 0.195),
         0 4.4px 4.4px rgba(128, 128, 128, 0.241),
         0 12px 12px rgba(128, 128, 128, 0.35);
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
  }
  
  img {
    border-radius: 8%;
  }